{%extends "registration/base.html"%} {% load bootstrap4 %} {%load static%} {% load staticfiles %} {% block content %}


<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Edit Your Profile Information</title>
  {{form.media}}

{% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/news.css' %}"> {% endblock %}

</head>

<body>
<div class="container" style="background-color:#fff;">

     <div class="row">


  <form  action="{%url 'edit_profile'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input id="id_myfield" type="submit" class="btn btn-success btn-lg" value="Post">
  </form>

   {% block scripts %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}


     </div>
</div>




</body>
{% endblock %}