{%extends "registration/base.html"%}
{% load bootstrap4 %} {%load static%}
{% load staticfiles %}
{% block content %}

<div class="jumbotron text-center" style="background-color:white;">
    <h1 style="font-family: 'Oswald', sans-serif;"> Your Profile Page </h1>
     <img src="{{profile.profilepic.url}}" class="img-thumbnail" id="eachimage1" style="height:200px;width:150px;"></a>
    <p style="font-family: 'Oswald', sans-serif;">{{profile.bio}}</p>
    <button class="btn btn-lg btn-success" style="font-family: 'Oswald', sans-serif;"><a href=" {%url 'edit_profile'%}">Edit Profile</a></button>
    </div>

<div class="container">
  <div class="card-columns">
    {% for image in images %}

    <div class="card border-secondary"><a href="{% url 'image' image.id %}">
        <img src="{{image.image.url}}" class="img-fluid" id="eachimage"
          size="100px200"></a>
 <p style="font-family: 'Oswald', sans-serif;"> Caption : {{ image.description}}</p>
      <p style="font-family: 'Oswald', sans-serif;">Posted by : {{ image.user}}</p>

    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}