{%extends "registration/base.html"%}
{% load bootstrap4 %} {%load static%}
{% load staticfiles %}
{% block content %}

<div class="jumbotron text-center">
    <h1> Your Profile Page </h1>
     <img src="{{profile.profilepic.url}}" class="thumbnail" id="eachimage1"
          size="20px20"></a>
    <p>{{profile.bio}}</p>
    </div>


<div class="container">

  <div class="card-columns">

    {% for image in images %}

    <div class="card border-secondary"><a href="{% url 'image' image.id %}">
        <img src="{{image.image.url}}" class="img-fluid" id="eachimage"
          size="100px200"></a>
 <p> Caption : {{ image.description}}</p>
      <p>Posted by : {{ image.user}}</p>

    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}