{% extends 'base.html' %} {% load static %} {% load bootstrap4%} {% block content %}
<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

<div class="container">

  <div class="jumbotron text-center" style="background-color:white;">

    <h1 class="h1" style="font-family: 'Grand Hotel', cursive; color:blue;font-size:70px;">Instagram</h1>


  </div>
</div>


<div class="container">
<div class="card mb-3" style="width:40rem;;">
  <img class="card-img-top" src="{{image.image.url}}" alt="Card image cap" class="img-fluid" size="100px200">
  <div class="card-body">
    <button class="btn btn-lg btn-danger">Like This Image</button>




    <!--*****************-->
    <!--TESTING LIKE BUTTON-->

    <a href="#" onClick="document.getElementById('likebutton').submit()">Like This Post</a> {{image.likes}}

<form id="likebutton" method="POST" action="/posts/{{image.id}}/preference/1/">
{% csrf_token %}
<input type="hidden">
</form>


    <!--********************-->

    <h5 class="card-title" style="font-family: 'Oswald', sans-serif;"><strong>Name Of Image:</strong>
      <br>
      {{image.name}}</h5>
    <p class="card-text" style="font-family: 'Oswald', sans-serif;"><strong>Location:</strong>
      <br>
      {{image.location}}</p>
    <p class="card-text" style="font-family: 'Oswald', sans-serif;"><strong>Caption:</strong>
      <br>
      {{image.description}}</p>
    <p class="card-text" style="font-family: 'Oswald', sans-serif;"><small class="text-muted">Posted by {{image.user}}</small></p>
  </div>

  <div class="card border-secondary">
     <div class="card-header">
     <h5 style="font-family: 'Oswald', sans-serif;">Image Comments</h5>
       </div>


     <div class="card-body text-primary">


     <p style="font-family: 'Oswald', sans-serif;">{{image.comments}}</p>


       {% for comment in comments %}

       <p style="font-family: 'Oswald', sans-serif;"> {{ comment }}</p>

       {% endfor%}

     </div>
   </div>
</div>
</div>



<div class="container mt-2 mx-auto p-5" style="background-color:#ffffff; border: 1px solid #e6e6e6;">
  <h3 style="font-family: 'Oswald', sans-serif;">Add your comment</h3>
  <hr>
  <form action=""  method="post">
    {%csrf_token%} {% bootstrap_form form %}
      <input type="submit" class="btn btn-primary" value="Post">
  </form>
  <hr>
</div>
<div class="container">
    <div class="col-md-12">
      <div class="footer text-center">
        <ul id="footer1">
          <li>ABOUT US</li>
          <li>SUPPORT</li>
          <li>PRESS</li>
          <li>API</li>
          <li>JOBS</li>
          <li>PRIVACY</li>
          <li>TERMS</li>
          <li>DIRECTORY</li>
          <li>PROFILES</li>
          <li>HASHTAGS</li>
          <li>LANGUAGE</li>
          <br>

          <li style="font-size:10px;"> <strong>© 2018 MELISSA MALALA</strong></li>
        </ul>

      </div>

    </div>
  </div>
{% endblock %}