{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

<div class="container">

<div class="jumbotron text-center" style="background-color:black;">

<h1 class="h1" style="font-family: 'Grand Hotel', cursive; color:white;font-size:70px;">Instagram</h1>

<p style="font-family: 'Kodchasan', sans-serif;color:white;">The delicate balance of mentoring someone is not creating them in your own image, but giving them the opportunity to create themselves.</p>

</div>
</div>


<div class="container">

<div class="card-columns">

    {% for image in pictures %}
  <div class="card border-secondary"><a href="{% url 'image' image.id %}">
   <img src="{{image.image.url}}"
           data-target="#imageModal{{image.id}}" data-toggle="modal"
        alt="" class="img-fluid" id="eachimage" size="100px200"></a>
  </div>
     {% endfor %}
</div>
</div>



   {% endblock %}