{% extends 'base.html' %} {% load static %} {% load bootstrap4 %}{% block content %} {% load widgets tweak%}
<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

<div class="container">

  <div class="jumbotron text-center" style="background-color:white;">

    <h1 class="h1" style="font-family: 'Grand Hotel', cursive; color:blue;font-size:70px;">Instagram</h1>

  </div>
</div>


<div class="container">

  <div class="card-columns">

    {% for image in pictures %}
    <div class="card border-secondary"><a href="{% url 'image' image.id %}">
        <img src="{{image.image.url}}" data-target="#imageModal{{image.id}}" data-toggle="modal" alt="" class="img-fluid" id="eachimage"
          size="100px200"></a>
 <p> Caption : {{ image.description}}</p>
      <p>Posted by : {{ image.user}}</p>

    </div>
    {% endfor %}
  </div>
</div>

<div class="container-fluid">

  <form  action="{%url 'homePage'%}" method="post">
    {%csrf_token%}

    {% bootstrap_form letterForm layout='inline' %}
    <input type="submit" value="Subscribe To Instagram ">
  </form>

</div>


{% endblock %}