{% extends 'base.html' %} {% load static %} {% block content %}
<link href="https://fonts.googleapis.com/css?family=Charmonman|Dancing+Script|Kodchasan|Spirax|Abril+Fatface" rel="stylesheet">

<div class="container">

  <div class="jumbotron text-center" style="background-color:white;">

    <h1 class="h1" style="font-family: 'Grand Hotel', cursive; color:blue;font-size:70px;">Instagram</h1>

  </div>
</div>

<div class="container">

  <div class="card-columns">

    {% for image in pictures %}
    <div class="card border-secondary"><a href="{% url 'image' image.id %}">
        <img src="{{image.image.url}}" data-target="#imageModal{{image.id}}" data-toggle="modal" alt="" class="img-fluid" id="eachimage"
          size="100px200"></a>
      <p>{{image.comments}}</p>
      <p>Posted by : {{ image.user}}</p>

    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}