{%extends 'base.html'%} {% block content %}
<div class="container">

  <div class="row">
    {% if profiles %}
    <h2 style="font-family: 'Kodchasan', sans-serif;color:white;"> Here are profiles of your search term: {{message}}</h2>
    {% else %}
    <h2 style="font-family: 'Kodchasan', sans-serif;color:white;"> It appears that there are 0 profiles for your search term
      {{message}}, please try again. </h2>
    {% endif %}

  </div>

  <h1 style="font-family: 'Oswald', sans-serif;"><strong> These are the user profiles found </strong></h1>

  {% for profile in profiles %}
  <p style="font-family: 'Oswald', sans-serif;"><a href="{% url 'individual_profile_page' profile.user.id %}"> {{profile.user.username}}</a></p>
  {% endfor %}




  <div class="row">

    {% if pictures %}
    <div class="container">

      <div class="card-columns">

        {% for image in pictures %}
        <div class="card border-secondary">
          <img src="{{image.image.url}}" data-target="#imageModal{{image.id}}" data-toggle="modal" alt="" class="img-fluid" id="eachimage"
            size="100px200">
        </div>
        {% endfor %}
      </div>
    </div>

    {% endif %}
  </div>
</div>



<!--modal-->
{% for image in pictures %}
<div class="modal fade" id="imageModal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <img src="{{image.image.url}}" data-toggle="modal" alt="" style="height:600px;width:500px;">
      <div class="modal-header">
        <h4 id="modal-text text-center">{{image.name}}</h4>
        <h4 style="font-family: 'Kodchasan', sans-serif;color:blue;" id="modal-text ">{{image.location}}</h4>
        {% for tag in image.tags.all %}

        <button class="btn btn-lg btn-success" style="font-family: 'Kodchasan', sans-serif;color:white;"> #{{ tag.name }}</button>

        {% endfor %}
      </div>

      <div class="modal-footer">

        <input class="form-control" type="text" value="https://gallerymelissa.herokuapp.com{{image.image.url}}">
        <button type="button" value="https://gallerymelissa.herokuapp.com{{image.image.url}}" onclick="copyLink(this.value)" class="btn btn-outline-secondary my-2 my-sm-0 link-btn">Copy
          Photo Link</button>

      </div>
      <div class="modal-footer">

        <h5 id=modal-text>{{image.description}}</h5>

        <button type="button" class="btn btn-outline-secondary
              my-2 my-sm-0" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<script>

  function copyLink(value) {
    console.log('sdfgsdfg')
    function handler(event) {
      event.clipboardData.setData('text/plain', value);
      event.preventDefault();
      document.removeEventListener('copy', handler, true);
    }

    document.addEventListener('copy', handler, true);
    document.execCommand('copy');

  }


</script>

{% endfor %}


<div class="container">
    <div class="col-md-12">
      <div class="footer text-center">
        <ul id="footer1">
          <li>ABOUT US</li>
          <li>SUPPORT</li>
          <li>PRESS</li>
          <li>API</li>
          <li>JOBS</li>
          <li>PRIVACY</li>
          <li>TERMS</li>
          <li>DIRECTORY</li>
          <li>PROFILES</li>
          <li>HASHTAGS</li>
          <li>LANGUAGE</li>
          <br>

          <li style="font-size:10px;"> <strong>© 2018 MELISSA MALALA</strong></li>
        </ul>

      </div>

    </div>
  </div>
{% endblock %}